*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
article{
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    width: 350px;
}
article:hover{
    background-color: rgb(37, 37, 37);
}
article h1{
    background-color: #be6b80;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;

}
article p{
    padding: 10px 0px 10px 10px;
    font-size: 25px;
}
article img{
    width: 100%;
}
footer{
    background-color: rgb(49, 49, 49);
    color: white;
    font-family: 20px;
}